$white: #fff;
$blue: #0e799e;

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.white-borders {
  border: $white;
}

.table-width-100 {
  width: 100%;
}

.italic {
  margin-bottom: 5px;

  font-style: italic;
}

.small-space-above-text {
  margin-top: 10px;
}

.medium-space-above-text {
  margin-top: 30px;
}

.space-under-text {
  margin-bottom: 20px;
}

.link-color {
  color: $blue;
}

h3 {
  margin-top: 30px;
}

h4 {
  margin-top: 30px;
}

h2+h3 {
  margin-top: 10px;
}

h3+h4 {
  margin-top: 5px;
}
